[Desktop Entry]
Type=Application
Name=Zippy
GenericName=Archive Manager
Comment=Buka, extract, dan buat archive
Exec=zippy %f
Icon=io.github.s4rt4.Zippy
Terminal=false
StartupNotify=true
Categories=Utility;Archiving;Compression;GTK;
MimeType=application/zip;application/x-7z-compressed;application/vnd.rar;application/x-rar-compressed;application/x-tar;application/gzip;application/x-gzip;application/x-bzip2;application/x-xz;application/zstd;application/x-zstd;application/x-compressed-tar;application/x-bzip-compressed-tar;application/x-xz-compressed-tar;application/x-zstd-compressed-tar;
